<div class="modal">
  <ion-header-bar>
    <h1 class="title" ng-show="showLogin">Login</h1>
    <h1 class="title" ng-show="showRegister">Register</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="close()">Close</button>
    </div>
  </ion-header-bar>
  
  <ion-content>
    <form ng-submit="doLogin()" ng-show="showLogin">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="usernameLogin">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="passwordLogin">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="register()">Register</button>
        </label>
      </div>
    </form>
    <form ng-submit="doRegister()" ng-show="showRegister">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="password">
        </label>
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="name">
        </label>
        <label class="item item-input">
          <span class="input-label">Surename</span>
          <input type="text" ng-model="surname">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="email">
        </label>
        <label class="item item-input">
          <span class="input-label">Phone number</span>
          <input type="tel" ng-model="number">
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="register()">Save</button>
        </label>
      </div>
    </form>
  </ion-content>
</div>


