<ion-view title="Welcome">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div id='ninja-slider'>
  <ul>
    <li><a data-image="img/1-s.jpg"><h3>Prevents DDoS Breach</h3></a></li>
    <li><div data-image="../img/2-s.jpg"><h3>Cross-site Request Forgery</h3></div></li>
    <li><div data-image="../img/3-s.jpg"><h3>Network Sniffing</h3></div></li>
    <li><div data-image="../img/4-s.jpg"><h3>SQL - Injection</h3></div></li>
    <li><div data-image="../img/5-s.jpg"><h3>Cross-site Scripting</h3></div></li>
    <li><div data-image="../img/6-s.jpg"><h3>And Many More Hacking!</h3></div></li>
  </ul>
  <h2>JAVA SECURITY</h2>
</div>
  </ion-content>
</ion-view>
